<div class="header">
  <div class="hamburger" (click)="toggleMenu()">&#9776;</div>
  <div class="nav" [class.active]="menuOpen">
    <a class="nav-link" (click)="navigateToHome(); toggleMenu()">Főoldal</a>
    <a class="nav-link" (click)="navigateToProfile(); toggleMenu()">Profil</a>
    <a class="nav-link" (click)="navigateToWorkoutPlan(); toggleMenu()">Edzésterv</a>
    <a class="nav-link" (click)="navigateToMealPlan(); toggleMenu()">Étrend</a>
    <div *ngIf="isLoggedIn$ | async; else loggedOut" class="nav-link-container">
      <a (click)="logout(); toggleMenu()">Kijelentkezés</a>
    </div>
    <ng-template #loggedOut>
      <div class="nav-link-container">
        <a (click)="navigateToLogin(); toggleMenu()">Bejelentkezés</a>
        <a (click)="navigateToRegister(); toggleMenu()">Regisztráció</a>
      </div>
    </ng-template>
  </div>
</div>

<div class="overlay" *ngIf="menuOpen" (click)="toggleMenu()"></div>
