/* Általános stílusok a headerhez */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #4a90e2, #50b3e0);
  padding: 10px;
  width: 100%;
  z-index: 100;
  position: sticky;
}

/* A nav konténer */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;  /* Flex elrendezés, hogy minden gomb egy sorban legyen */
  width: 100%;
  max-width: 1200px;
}

/* A nav-linkek */
.nav-link {
  padding: 10px 15px;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.nav-link:hover {
  color: #007BFF;
}

/* Mobil nézet */
@media (max-width: 768px) {
  .header {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    background-color: #4a90e2;
    color: white;
  }
  .nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .nav-link {
    padding: 8px 10px;
    font-size: 13px;
    color: white;
    text-decoration: none;
  }
  .logo {
    width: 40px;
  }
}
