<div class="header">
  <a [routerLink]="['/userinfo']">
    <img src="assets/images/logo.png" alt="Logo" class="logo" />
  </a>

  <nav class="nav">
    <a class="nav-link" (click)="navigateToProfile()">Profil</a>
    <a class="nav-link" (click)="navigateToWorkoutPlan()">Edzésterv</a>
    <a class="nav-link" (click)="navigateToMealPlan()">Étrend</a>

    <div *ngIf="userEmail$ | async as email; else guest">
      <span class="nav-link">Bejelentkezve, mint: <strong>{{ email }}</strong></span>
      <a class="nav-link" (click)="logout()">Kijelentkezés</a>
    </div>

    <ng-template #guest>
      <a class="nav-link" (click)="navigateToLogin()">Bejelentkezés</a>
      <a class="nav-link" (click)="navigateToRegister()">Regisztráció</a>
    </ng-template>
  </nav>
</div>

<div class="user-status">
  <ng-template #guest>
    <p>Vendég</p>
  </ng-template>
</div>
