

.recipe-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.diet-plan-container {
  margin: 20px auto;
  padding-bottom: 40px;
  padding-bottom:70px;
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3, h5 {
  color: #333;
  padding-top: 50px;
}
.meal-time-cards{
  padding-bottom: 30px;
}
.day-selector{
  padding-bottom:30px;
}

.day-selector, .meal-time-selector, .meals-container, .diet-plan {
  margin-bottom: 5px;
  
}
.diet-plan{
  padding-bottom: 50px;
}
.meal-cards{
  padding-bottom: 20px;
}

.day-cards {
  display: flex;
  justify-content: center;
  gap: 10px; 
  flex-wrap: wrap; 
}

.day-card {
  width: 20px;  
  height: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem; 
  background-color: #f5f5f5;
  color: #333;
  border-radius: 50%; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-transform: uppercase;
}

.day-card.selected {
  background-color: #007bff;
  color: white;
}

.day-card:hover {
  background-color: #007bff;
  color: white;
}

.day-card:active {
  transform: scale(0.95);
}

.meal-cards {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card, .day-card, .meal-time-card, .meal-card {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.footer-buttons {
  position: fixed;
  bottom: 0;
  width:100%;
  left: 0;
  min-width: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer-button:hover {
  background-color: #0056b3;
}



.card:hover, .day-card:hover, .meal-time-card:hover, .meal-card:hover {
  background-color: #e0e0e0;
}

.selected {
  background-color: #007bff;  
  color: white;
  border-color: #007bff;      
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.diet-plan ul {
  list-style-type: none;
  padding: 0;
}













h4 {
  font-size: 24px; 
  font-weight: bold; 
  color: #007bff; 
  text-align: center; 
  margin-bottom: 20px; 
  text-transform: uppercase; 
  letter-spacing: 2px; 
  position: relative; 
}

h4::after {
  content: ""; 
  display: block;
  width: 50px; 
  height: 3px; 
  background-color: #007bff; 
  margin: 10px auto 0; 
  border-radius: 5px; 
}






.diet-plan li {
  margin-bottom: 15px; 
  padding: 10px 15px; 
  border-radius: 10px; 
  background-color: #f9f9f9; 
  border: 1px solid #ddd; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  transition: all 0.3s ease; 
}

.diet-plan li:hover {
  background-color: #85b2cf; 
  color: white;
  transform: translateY(-3px); 
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.diet-plan li span {
  font-size: 16px; 
  font-weight: bold; 
  color: #333;
}

.diet-plan li span.calories {
  font-weight: normal; 
  font-size: 14px; 
  color: #666; 
}
.button-total-calories{
  padding-bottom: 50px;
}
.diet-plan button, button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.diet-plan button {
  background-color: #ff4c4c;
  color: white;
}

.diet-plan button:hover {
  background-color: #ff3333;
}

button {
  margin: 5px;
  background-color: #007bff;  
  color: white;
}

button:hover {
  background-color: #0056b3;  
}

.total-calories {
  margin-top: 20px;
  
  padding-bottom:20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

button {
  margin: 20px 0;
  padding: 10px 20px;
  border: none;
  background-color: #007bff; 
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.diet-name {
  margin-bottom: 20px;
  width: 100%;
}

.diet-name input {
  width: 50%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.diet-name label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.diet-name-container {
  margin-bottom: 15px;
  display: flex;
  width:100%;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-top: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
}

button:hover {
  background-color: #0056b3;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  max-width: 400px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .diet-name-container input {
    font-size: 16px;
  }

  button {
    font-size: 16px;
    padding: 12px 24px;
  }

  .modal-content {
    width: 90%;
  }



.custom-diets-container {
  padding: 20px;
  margin-top: 50px;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease;
}

.custom-diets-container:hover {
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

.custom-diet-header {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.custom-diet-card {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-diet-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.custom-diet-header {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.custom-diet-card ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.custom-diet-card ul div {
  margin-bottom: 10px;
}

.custom-diet-card strong {
  color: #007bff;
}

.custom-diet-card span {
  font-size: 16px;
  color: #555;
}

.noCustomDiets {
  text-align: center;
  font-size: 1rem;
  color: #555;
  padding: 10px;
  margin-top: 20px;
}

.section2{
  padding-bottom: 50px;
}

.recipe-card {
  width: 100%;
  max-width: 250px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
}

.recipe-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.recipe-card h4 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: bold;
}

.recipe-card p {
  color: #555;
  font-size: 0.9rem;
}

h1, h2, .section-title {
  text-align: center;
  margin-top:80px;
  padding-top: 50px;
  color: #333;
  margin-top: 20px;
}
.weight-loss-message {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
  padding: 15px;
  margin-top: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s ease;
}

.weight-loss-message:hover {
  background-color: #e7f4ff;
}

.section-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 15px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container, .profile-container, .plans-container, .user-data-container, .diet-plans-container, .custom-diets-container, .recipe-card, .fav-recipes-container {
  padding: 20px;
  margin: auto;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease;
}

.container:hover, .profile-container:hover, .plans-container:hover, .user-data-container:hover, .diet-plans-container:hover, .custom-diets-container:hover, .recipe-card:hover {
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

body{
  margin-bottom: 100px;
}
.recipe-card-group{
  padding-bottom: 80px;
}

.recipe-card-group2{
  padding-top:30px;
}


.profile-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 10px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #007bff;
}

.profile-details {
  text-align: center;
  margin-top: 15px;
}

.data-item {
  font-size: 18px;
  color: #555;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

strong {
  color: #333;
}

.weight-update-container input[type="number"] {
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 8px;
  width: 60%;
  font-size: 1rem;
  margin: 10px auto;
  display: block;
  transition: border-color 0.3s ease;
}

.weight-update-container button {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 60%;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.weight-update-container button:hover {
  background-color: #0056b3;
}

.diet-plan-card, .custom-diet-card {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.diet-plan-card:hover, .custom-diet-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.diet-plan-header, .custom-diet-header {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.diet-plan-card ul, .custom-diet-card ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.diet-plan-card ul div, .custom-diet-card ul div {
  margin-bottom: 10px;
}

.diet-plan-card strong, .custom-diet-card strong {
  color: #007bff;
}

.diet-plan-card span, .custom-diet-card span {
  font-size: 16px;
  color: #555;
}
.recept-reszletek{
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 60%;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.recipe-card {
  width: 100%;
  max-width: 250px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
}

.recipe-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.recipe-card h4 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: bold;
}

.recipe-card p {
  color: #555;
  font-size: 0.9rem;
}

.button {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.delete-button {
  background-color: #e74c3c;
  color: white;
}

.delete-button:hover {
  background-color: #c0392b;
}

.edit-button {
  background-color: #f39c12;
  color: white;
}

.edit-button:hover {
  background-color: #e67e22;
}

.add-button {
  background-color: #2ecc71;
  color: white;
}

.add-button:hover {
  background-color: #27ae60;
}

.remove-exercise-button {
  background-color: #e74c3c;
  color: white;
}

.remove-exercise-button:hover {
  background-color: #c0392b;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

.modal-content {
  padding: 20px;
}

.close-button {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #0056b3;
.recipe-card {
  width: 100%;
  max-width: 250px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
}

.recipe-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.recipe-card h4 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: bold;
}

.recipe-card p {
  color: #555;
  font-size: 0.9rem;
}

.recept-reszletek {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 60%;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.delete-button {
  background-color: #e74c3c;
  color: white;
}

.delete-button:hover {
  background-color: #c0392b;
}

.edit-button {
  background-color: #f39c12;
  color: white;
}

.edit-button:hover {
  background-color: #e67e22;
}

.add-button {
  background-color: #2ecc71;
  color: white;
}

.add-button:hover {
  background-color: #27ae60;
}

.remove-exercise-button {
  background-color: #e74c3c;
  color: white;
}

.remove-exercise-button:hover {
  background-color: #c0392b;
}


}


.modal-backdrop5 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  animation: fadeIn 0.3s ease-in-out; 
  overflow: hidden; 
}

.modal-content5 {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  width: 90%;
  max-width: 600px; 
  text-align: center;
  position: relative;
  animation: slideUp 0.3s ease-out; 
  overflow: hidden; 
}


.close-button5 {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}


.close-button5:hover {
  color: #ff6b6b;
}

.modal-title5 {
  font-size: 24px;
  color: #2980b9; 
  margin-bottom: 20px;
  font-weight: bold;
}

.modal-image5 {
  width: 100%; 
  height: auto;
  max-height: 300px; 
  object-fit: cover; 
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.modal-description5 {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  margin-top: 15px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .modal-content5 {
    width: 95%;
    max-width: 90%;
    padding: 15px;
  }

  .modal-image5 {
    max-height: 100px; 
  }


  .close-button5 {
    font-size: 20px;
  }


  .modal-title5 {
    font-size: 20px;
  }

  .modal-description5 {
    font-size: 14px;
  }

@media (min-width: 769px) {
  .modal-backdrop5 {
    display: flex;
  }

  .modal-content5 {
    width: 50%; 
    max-width: 600px;
    padding: 20px;
  }

  .modal-image5 {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    margin: 10px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}



.section-title2 {
  font-family: 'Arial', sans-serif;  
  font-size: 28px;  
  font-weight: bold;  
  text-align: center;  
  color: #007bff;  
  text-transform: uppercase;  
  letter-spacing: 2px;  
  margin: 40px 0 20px 0;  
  padding: 10px;  
  border-bottom: 3px solid #007bff;  
  background-color: #f4f4f4;  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
}
}
}