<div class="body">
<div *ngIf="currentView === 'diet-creation'">


  <!-- Nap kiválasztása -->
  <div class="day-selector">
    <h3>Válassz egy napot</h3>
    <div class="day-cards">
      <div 
        *ngFor="let day of daysOfWeek" 
        class="day-card" 
        [class.selected]="selectedDay === day" 
        (click)="selectDay(day)">
        {{ day }}
      </div>
    </div>
  </div>

  <!-- Étkezés kiválasztása -->
  <div class="meal-time-selector" *ngIf="selectedDay">
    <h3>Válassz egy étkezést</h3>
    <div class="meal-time-cards">
      <div 
        *ngFor="let mealTime of mealTimes" 
        class="meal-time-card" 
        [class.selected]="selectedMealTime === mealTime" 
        (click)="toggleMealTime(mealTime)">
        {{ mealTime }}
      </div>
    </div>
  </div>

  <!-- Étkezések és ételek megjelenítése -->
  <div class="meals-container" *ngIf="selectedMealTime && selectedDay">
    <h4>{{ selectedMealTime }}</h4>
    <div class="meal-cards">
      <div *ngFor="let meal of meals[selectedMealTime]" class="meal-card">
        <p>{{ translateMeal(meal) }}</p>
        
        <!-- Gramm beviteli mező -->
        <input 
          type="number" 
          [(ngModel)]="mealAmounts[meal]" 
          placeholder="Gramm" 
          min="1"
        />
  
        <!-- Hozzáadás gomb a mennyiséghez -->
        <button (click)="addMeal(meal)">Részletek</button>
        
        <!-- Étkezési információ -->
        <div *ngIf="mealData[meal]">
          <ul>
            <li>Kalória: {{ mealData[meal].calories }}</li>
            <li>Adag mérete: {{ mealData[meal].serving_size_g }} g</li>
            <li>Fehérje: {{ mealData[meal].protein_g }} g</li>
            <li>Zsír: {{ mealData[meal].fat_total_g }} g</li>
            <li>Szénhidrát: {{ mealData[meal].carbohydrates_total_g }} g</li>
            <li>Cukor: {{ mealData[meal].sugar_g }} g</li>
          </ul>
        </div>
  
        <!-- Hozzáadás az étrendhez gomb -->
        <button 
          *ngIf="mealData[meal]" 
          (click)="addToDiet(meal, mealData[meal].calories)">
          Hozzáadás az étrendhez
        </button>
      </div>
    </div>
  </div>

  <!-- Diétás terv megjelenítése -->
  <div *ngIf="dietPlan.length > 0" class="diet-plan">
    <h4>Étrended:</h4>
    <ul>
      <li *ngFor="let meal of dietPlan">
        {{ translateMeal(meal.name) }} - {{ meal.calories }} kcal
        <button (click)="removeFromDiet(meal)">Eltávolítás</button>
      </li>
    </ul>
    <div class="diet-plan-container">
      <!-- Étrend neve mező -->
      <div class="diet-name">
        <label for="dietName"><strong>Étrended neve: </strong></label>
        <input
          type="text"
          id="dietName"
          [(ngModel)]="dietName"
          placeholder="Add meg az étrended nevét"
          required
        />
      </div>
    <div class="total-calories">
      <p><strong>Kalóriaszámláló: </strong>{{ getTotalCalories() }} kcal</p>
    </div>
    <button (click)="saveCostumDiet(dietName)">Étrend mentése</button>
  </div>
</div>

<!-- Sikeres mentés modal -->
<div *ngIf="showSuccessModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeSuccessModal()">×</span>
    <h3>Sikeresen elmentetted az étrended! <br> Az elmentett étrendjeid megtekintheted a Profilodban!</h3>
    <button (click)="closeSuccessModal()">Rendben</button>
  </div>
</div>

<!-- Hiba modal -->
<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">×</span>
    <h3>{{ errorMessage }}</h3>
    <button (click)="closeModal()">Rendben</button>
  </div>
</div>
</div>


<div *ngIf="currentView === 'diet-display'">
  <div class="custom-diets-container" *ngIf="costumDiets$ | async as customDiets; else loadingCustomDiets">
    <h2 class="section-title">Egyedi étrendjeid</h2>
    <div *ngIf="customDiets.length > 0; else noCustomDiets">
      <div *ngFor="let diet of customDiets" class="custom-diet-card">
        <div class="custom-diet-header">
          <strong>Étrend neve:</strong> {{ diet.dietName || '-' }} 
          <span *ngIf="diet.selectedDay">({{ diet.selectedDay }})</span> <!-- A nap megjelenítése -->
        </div>
        <ul>
          <li *ngFor="let meal of diet.meals">
            {{ translateMeal(meal.name) }} - {{ meal.calories }} kcal
          </li>
        </ul>
        <div class="custom-diet-footer">
          <strong>Összkalória:</strong> {{ diet.totalCalories || 0 }} kcal
        </div>
      </div>
    </div>
    <ng-template #noCustomDiets>
      <p>Nincsenek mentett egyedi étrendjeid.</p>
    </ng-template>
  </div>
    <ng-template #loadingCustomDiets>
      <p>Betöltés folyamatban...</p>
    </ng-template>
</div>
  <!-- RECEPTES RÉSZ -->
  <div *ngIf="currentView === 'recipes'">
<div class="section">
  <h3 class="section-title">Kedvenc receptek</h3>
  <div *ngIf="favRecipes$ | async as favRecipes; else noRecipes">
<div class="recipe-card-group">
    <div *ngFor="let recipe of favRecipes" class="recipe-card">

      <img [src]="recipe.imageUrl" alt="{{ recipe.recipeName }}" class="recipe-image" />
      <h4 class="recipe-name">{{ recipe.recipeName }}</h4>
      <p class="recipe-description">{{ recipe.description }}</p>
      <button (click)="viewRecipe(recipe)" class="receptreszletek">Recept megtekintése</button>
      
    </div>
    </div>
  </div>
  <ng-template #noRecipes>
    <p class="no-recipes">Nincs kedvenc recept.</p>
  </ng-template>
</div>
  </div>
</div>
<div class="footer-buttons">
  <button class="footer-button" (click)="switchToMain()">Létrehozás</button>
  <button class="footer-button" (click)="switchToCustomDiets()">Étrendjeim</button>
  <button class="footer-button" (click)="switchToRecipes()">Receptjeim</button>
</div>


