<div class="login-container">
    <h2>Bejelentkezés</h2>
    <form (ngSubmit)="login()">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required />
  
      <label for="password">Jelszó:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required />
  
      <button type="submit">Bejelentkezés</button>
  
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </form>
  </div>
  