<div class="intro">
  <h2>Üdvözlünk a PannonFit applikációban!</h2>
  <p>Segítünk elérni fitnesz céljaidat egyéni edzéstervvel és személyre szabott étrenddel. Fedezd fel a legjobb edzésprogramokat, egészséges recepteket, és építsd fel a tökéletes étrendedet a céljaidhoz igazítva!</p>

  
  
</div>

<div class="recipes">
  <div class="recipe-group" *ngFor="let group of allRecipe">
    <h3>{{ group.title }}</h3>
    <div class="recipe-cards">
      <div *ngFor="let recipe of group.recipes" class="recipe-card">
        <img [src]="recipe.image" alt="{{ recipe.recipeName }}" class="recipe-image" (click)="toggleDetails(recipe)">
        <div class="card-content">
          <h4>{{ recipe.recipeName }}</h4>
          <p>{{ recipe.description }}</p>
          <button class="details-button" (click)="toggleDetails(recipe)">Részletek</button>
          <button (click)="toggleFavorite(recipe)" [class.favorited]="recipe.isFavorite">
            <span *ngIf="recipe.isFavorite">❤️</span>
            <span *ngIf="!recipe.isFavorite">🤍</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modális ablak a recept részleteivel -->
<div class="modal-backdrop" *ngIf="showRecipeModal" (click)="closeRecipeModal()"></div>
<div class="modal" *ngIf="showRecipeModal">
  <div class="modal-content">
    <h2>{{ selectedRecipe?.recipeName }}</h2>
    <p>{{ selectedRecipe?.description }}</p>
    <h4>Hozzávalók:</h4>
    <div [innerHTML]="selectedRecipe?.ingredients"></div>
    <h4>Elkészítés:</h4>
    <div [innerHTML]="selectedRecipe?.instruction"></div>
    <button class="close-button" (click)="closeRecipeModal()">Bezárás</button>
  </div>
</div>

<!-- Modális ablak a bejelentkezéshez, ha nincs bejelentkezve -->
<div class="modal-backdrop" *ngIf="showLoginModal"></div>
<div class="login-modal" *ngIf="showLoginModal">
  <div class="modal-content">
    <h2>Figyelem!</h2>
    <p>Ha a kedvencekhez szeretnéd adni a receptet, jelentkezz be vagy hozz létre új fiókot!</p>
    <div class="modal-buttons">
      <button class="login-button" (click)="redirectToLogin()">Bejelentkezés</button>
      <button class="register-button" (click)="redirectToRegister()">Regisztráció</button>
    </div>
    <button class="close-button" (click)="closeLoginModal()">Bezárás</button>
  </div>
</div>
