<h1>Felhasználói Profil</h1>

<ng-template #notLoggedIn>
  <div class="not-logged-in">
    <p>A profilod megtekintéséhez <a routerLink="/login">jelentkezz be</a>.</p>
  </div>
</ng-template>

<div *ngIf="userData$ | async as userData; else notLoggedIn">

  <!-- Profil szekció -->
  <div class="profile-container">
    <h2>Profil</h2>
    <img [src]="userData.gender === 'female' ? 'assets/images/no.png' : 'assets/images/ferfi.png'" 
         alt="Profilkép" class="profile-picture">
    <div class="profile-details">
      <p><strong>Név:</strong> 
        <ng-container *ngIf="userData.firstName && userData.lastName">
          {{ userData.firstName }} {{ userData.lastName }}
        </ng-container>
        <ng-container *ngIf="!userData.firstName || !userData.lastName">
          Név nem elérhető
        </ng-container>
      </p>
      
      <p><strong>Email:</strong> {{ userData.email || '-' }}</p>
    </div>
  </div>

  <!-- Felhasználói adatok -->
  <div class="user-data-container">
    <h2>Adatok:</h2>
    <div class="data-item" *ngFor="let item of [
      { label: 'Súly', value: userData.weight ? userData.weight + ' kg' : '-' },
      { label: 'Magasság', value: userData.height ? userData.height + ' cm' : '-' },
      {label: 'BMI', value:userData.bmi ? userData.bmi : '-'},
      { label: 'Kor', value: userData.age ? userData.age + ' év' : '-' },
      { label: 'Edzési cél', value: getGoal(userData.goal) || '-' },
      { label: 'Aktivitási szint', value: getActivityLevel(userData.activityLevel) || '-' },
      { label: 'Nem', value: getGender(userData.gender) || '-' }
    ]">
      <strong>{{ item.label }}:</strong> {{ item.value }}
    </div>
  </div>
  <div class="section">
    <h3 class="section-title">Kedvenc receptek</h3>
    <div *ngIf="favRecipes$ | async as favRecipes; else noRecipes">
      <div *ngFor="let recipe of favRecipes" class="recipe-card">
        <img [src]="recipe.imageUrl" alt="{{ recipe.recipeName }}" class="recipe-image" />
        <h4 class="recipe-name">{{ recipe.recipeName }}</h4>
        <p class="recipe-description">{{ recipe.description }}</p>
        <button (click)="viewRecipe(recipe)" class="view-recipe-button">Recept megtekintése</button>
      </div>
    </div>
    <ng-template #noRecipes>
      <p class="no-recipes">Nincs kedvenc recept.</p>
    </ng-template>
  </div>
  
  <!-- Edzéstervek -->
  <div class="plans-container" *ngIf="workoutPlans$ | async as workoutPlans; else loadingPlans">
    <h2 class="section-title">Edzéstervek</h2>
    <div *ngIf="workoutPlans.length > 0; else noPlans">
      <div *ngFor="let plan of workoutPlans" class="plan-card">
        <div class="plan-header">
          <h3 class="plan-name">{{ plan.workoutName || 'Névtelen edzésterv' }}</h3>
          <div class="plan-controls">
            <button (click)="removeWorkoutPlan(plan, email)" class="button delete-button">Törlés</button>
            <button (click)="toggleEdit(plan)" class="button edit-button">Módosítás</button>
          </div>
        </div>
        <div class="plan-body">
          <h4 class="exercise-title">Gyakorlatok</h4>
          <div *ngFor="let day of plan.exercises" class="day-section">
            <div class="day-header">{{ day.day || 'Név nélküli nap' }}</div>
            <ul class="exercise-list">
              <li *ngFor="let exercise of day.exercises; let i = index" class="exercise-item">
                <span class="exercise-name">{{ exercise.name || 'Ismeretlen gyakorlat' }}</span>
                <span class="exercise-details">{{ exercise.sets }} szett, {{ exercise.reps }} ismétlés</span>
                <button (click)="removeExercise(plan, day, i)" class="button remove-exercise-button">✖</button>
              </li>
            </ul>
            <div class="add-exercise" *ngIf="isEditing(plan)">
              <input [(ngModel)]="newExercise.name" class="input exercise-input" placeholder="Gyakorlat neve">
              <div class="sets-reps-container">
                <input [(ngModel)]="newExercise.sets" type="number" class="input exercise-input" placeholder="Szett">
                <input [(ngModel)]="newExercise.reps" type="number" class="input exercise-input" placeholder="Ismétlés">
              </div>
              <button (click)="addExercise(plan, day)" class="button add-button">Hozzáadás</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noPlans>
      <p class="no-plans">Nincsenek edzéstervek.</p>
    </ng-template>
  </div>
  

  <div class="user-profile">

    


   
  <div class="diet-plans-container" *ngIf="dietPlans$ | async as dietPlans; else loadingDietPlans">
    <h2>Étrendtervek</h2>
    <div *ngIf="dietPlans.length > 0; else noDietPlans">
      <div *ngFor="let plan of dietPlans" class="diet-plan-card">
        <div class="diet-plan-header">
          <strong>Étrend neve:</strong> {{ plan.dietPlanName || '-' }}
        </div>
        <ul>
          <div *ngFor="let meal of plan.sortedMeals">
            <strong>{{ meal.day }}</strong>:
            Reggeli - {{ meal.breakfast || '-' }},
            Ebéd - {{ meal.lunch || '-' }},
            Vacsora - {{ meal.dinner || '-' }}
          </div>
        </ul>
      </div>
    </div>
    <ng-template #noDietPlans>
      <p>Nincsenek étrendtervek.</p>
    </ng-template> 

    <div class="custom-diets-container" *ngIf="costumDiets$ | async as customDiets; else loadingCustomDiets">
      <h2>Egyedi Étrendjeid</h2>
      <div *ngIf="customDiets.length > 0; else noCustomDiets">
        <div *ngFor="let diet of customDiets" class="custom-diet-card">
          <div class="custom-diet-header">
            <strong>Étrend neve:</strong> {{ diet.dietName || '-' }}
          </div>
          <ul>
            <li *ngFor="let meal of diet.meals">
              {{ meal.name }} - {{ meal.calories }} kcal
            </li>
          </ul>
          <div class="custom-diet-footer">
            <strong>Összkalória:</strong> {{ diet.totalCalories || 0 }} kcal
          </div>
        </div>
      </div>
      <ng-template #noCustomDiets>
        <p>Nincsenek mentett egyedi étrendjeid.</p>
      </ng-template>
    </div>
    <!-- Edzés történet -->
    <div class="workout-history-container" *ngIf="workoutSessions$ | async as workoutSessions; else noWorkouts">
      <h2 class="section-title">Edzés Történet</h2>
      <div *ngIf="workoutSessions.length > 0; else noSessions">
        <div *ngFor="let session of workoutSessions" class="workout-session-card">
          <div class="workout-session-header">
            <strong>Edzés neve:</strong> {{ session.workoutName }}
            <span class="workout-duration">{{ session.duration | number:'1.1-1' }} perc</span>

          </div>
          <ul>
            <li *ngFor="let exercise of session.exercises">
              <strong>{{ exercise.name }}</strong>: 
              {{ exercise.sets }} szett, {{ exercise.reps }} ismétlés
            </li>
          </ul>
          <div class="workout-session-footer">
            <strong>Edzés ideje:</strong> {{ session.createdAt | date: 'short' }}
          </div>
          
        </div>
      </div>
      <ng-template #noSessions>
        <p>Nincsenek edzések.</p>
      </ng-template>
    </div>
    
<ng-template #noWorkouts>
  <p>Edzésadatok betöltése...</p>
</ng-template>

    
    <ng-template #loadingCustomDiets>
      <p>Betöltés folyamatban...</p>
    </ng-template>
    


 

    
  </div>
  <ng-template #loadingPlans>
    <p>Edzéstervek betöltése...</p>
  </ng-template>
  
  <ng-template #loadingDietPlans>
    <p>Étrendtervek betöltése...</p>
  </ng-template>
</div>
