<h1>Felhasználói Profil</h1>
<div *ngIf="userData$ | async as userData; else loading">
  <h2>Adatok:</h2>
  <p><strong>Súly:</strong> {{ userData.weight }} kg</p>
  <p><strong>Magasság:</strong> {{ userData.height }} cm</p>
  <p><strong>Kor:</strong> {{ userData.age }} év</p>
  <p><strong>E-mail:</strong> {{ userData.email }}</p>
  <p><strong>Edzési cél:</strong> {{ userData.goal }}</p>
  <p><strong>Aktivitási szint:</strong> {{ userData.activityLevel }}</p>
</div>

<div *ngIf="workoutPlans$ | async as workoutPlans; else loadingPlans">
  <h2>Edzéstervek:</h2>
  <ul *ngIf="workoutPlans.length > 0; else noPlans">
    <li *ngFor="let plan of workoutPlans">
      <strong>Edzésterv ID:</strong> {{ plan.id }}<br />
      <strong>Gyakorlatok:</strong> {{ plan.exercises.join(', ') }}
    </li>
  </ul>
  <ng-template #noPlans>
    <p>Nincsenek edzéstervek.</p>
  </ng-template>
</div>

<ng-template #loading>
  <p>Töltés...</p>
</ng-template>

<ng-template #loadingPlans>
  <p>Edzéstervek betöltése...</p>
</ng-template>
