<h1>Felhasználói Profil</h1>

<ng-template #notLoggedIn>
  <div class="not-logged-in">
    <p>A profilod megtekintéséhez <a routerLink="/login">jelentkezz be</a>.</p>
  </div>
</ng-template>

<div *ngIf="userData$ | async as userData; else notLoggedIn">
  <div class="profile-container">
    <h2>Profil</h2>
    <img [src]="userData.gender === 'female' ? 'assets/images/no.png' : 'assets/images/ferfi.png'" 
         alt="Profilkép" class="profile-picture">
    <div class="profile-details">
      <p><strong>Név:</strong> {{ userData.firstName || '-' }} {{ userData.lastName || '-' }}</p>
      <p><strong>Email:</strong> {{ userData.email || '-' }}</p>
    </div>
  </div>

  <div class="user-data-container">
    <h2>Adatok:</h2>
    <div class="data-item" *ngFor="let item of [
      { label: 'Súly', value: userData.weight ? userData.weight + ' kg' : '-' },
      { label: 'Magasság', value: userData.height ? userData.height + ' cm' : '-' },
      { label: 'Kor', value: userData.age ? userData.age + ' év' : '-' },
      { label: 'Edzési cél', value: getGoal(userData.goal) || '-' },
      { label: 'Aktivitási szint', value: getActivityLevel(userData.activityLevel) || '-' },
      { label: 'Nem', value: getGender(userData.gender) || '-' }
    ]">
      <strong>{{ item.label }}:</strong> {{ item.value }}
    </div>
  </div>

  <div class="plans-container" *ngIf="workoutPlans$ | async as workoutPlans; else loadingPlans">
    <h2>Edzéstervek:</h2>
    <div *ngIf="workoutPlans.length > 0; else noPlans">
      <div *ngFor="let plan of workoutPlans" class="plan-card">
        <div class="plan-header">
          <strong>Edzésterv neve:</strong> {{ plan.workoutName || '-' }}
          <div class="plan-controls">
            <button (click)="removeWorkoutPlan(plan, email)" class="plan-button delete-button">Törlés</button>
            <button (click)="toggleEdit(plan)" class="plan-button edit-button">Módosítás</button>
          </div>
        </div>
  
        <!-- Show exercises without the need for clicking edit -->
        <div class="exercise-list">
          <strong>Gyakorlatok:</strong>
          <div *ngFor="let day of plan.exercises" class="day-exercises">
            <div class="day-header">
              <strong>{{ day.day || '-' }}</strong>
            </div>
            <ul>
              <li *ngFor="let exercise of day.exercises; let i = index" class="exercise-item">
                {{ exercise.name || '-' }} - {{ exercise.sets > 0 ? exercise.sets + ' szett' : 'Sorozatszám' }},
                {{ exercise.reps > 0 ? exercise.reps + ' ismétlés' : 'Ismétlésszám' }}
                <button (click)="removeExercise(plan, day, i)" class="remove-exercise-button">Törlés</button>
              </li>
            </ul>
  
            <!-- Add new exercises -->
            <div class="add-exercise" *ngIf="isEditing(plan)">
              <input [(ngModel)]="newExercise.name" class="exercise-input" placeholder="Gyakorlat neve">
              <input [(ngModel)]="newExercise.sets" type="number" class="exercise-input" placeholder="Szett" [title]="'Sorozatszám'">
              <input [(ngModel)]="newExercise.reps" type="number" class="exercise-input" placeholder="Ismétlés" [title]="'Ismétlésszám'">
              <button (click)="addExercise(plan, day)" class="add-button">Hozzáadás</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <ng-template #noPlans>
      <p>Nincsenek edzéstervek.</p>
    </ng-template>
  </div>
  

  <ng-template #loadingPlans>
    <p>Edzéstervek betöltése...</p>
  </ng-template>
  
  <ng-template #loading>
    <p>Töltés...</p>
  </ng-template>

  <ng-template #loadingDietPlans>
    <p>Étrendek betöltése...</p>
  </ng-template>
</div>
